html {
    font-size: 62.5%;
}
body{
    background-color: darkgray;
    font-size: 16px; /* 1rem = 10px */
}

.tituloPagina {
    text-align: center;
    font-size: 3.8rem;
}

.tituloPagina span{
    font-size: 2rem; 
}

h2{
    color: blue;
}
