:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
}

html {
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10px */
}

.tituloPagina {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
}

.tituloPagina span{
    font-size: 2rem; 
}

