body {
    margin: 10px 3px 0px 3px;
    padding: 0;
    background: orange;
}

.topbar{
    background-color: black;
    margin: 0;
}

.topbar ul{
    display: inline-flex;
    padding-left: 0;
    margin: 0;
}

.topbar li{
    display: inline-flex;
    
}

.topbar li a{
    float: right;
    text-align: center;
    text-decoration: none;
    padding: 17px 14px;
    font-size: 17;
    color: white;

}

li a{
    background-color: black;
    color: white;
    margin: 0 40px 0 0;

}

li a:first-child{
    color: white;
    margin: 0;

}

.homenavbtn a{
    color: white;
    background-color: orangered;
}
